
.archive-page {
    background-color: $color__background-screen;
    padding: 20px;
  
    .page-header {
      margin-bottom: 40px;
  
      .page-title {
        font-family: $font-family;
        color: $color__text-main;
        font-size: 2rem;
        margin-bottom: 10px;
        text-align: center;
      }
  
      .archive-description {
        font-family: $font-family;
        color: $color__text-main;
        font-size: 1rem;
        margin-bottom: 20px;
        text-align: center;
      }
    }
  
    .student-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
    }
  
    .student-item {
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 5px;
      padding: 20px;
      width: calc(50% - 20px);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      font-family: $font-family;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
  
      h2 {
        font-size: 1.5rem;
        margin-bottom: 10px;
  
        a {
          color: $color__link;
          text-decoration: none;
  
          &:hover {
            text-decoration: underline;
          }
        }
      }
  
      .student-image {
        margin-bottom: 15px;
  
        img {
          max-width: 100%;
          border-radius: 5px;
        }
      }
  
      .student-excerpt {
        font-size: 1rem;
        margin-bottom: 15px;
      }
  
      .read-more {
        display: block;
        margin-bottom: 15px;
        color: $color__link;
        text-decoration: none;
  
        &:hover {
          text-decoration: underline;
        }
      }
  
      .student-speciality {

        font-size: 0.875rem;
        color: #555;
  
        p {
          display: inline;
          margin-right: 5px;
        }
  
        a {
          color: $color__link;
          text-decoration: none;
  
          &:hover {
            text-decoration: underline;

          }
        }
      }
    }
  
    @media (max-width: 800px) {
      .student-item {
        width: 100%;
      }
    }
  
    .pagination {
      display: flex;
      justify-content: center;
      margin-top: 40px;
  
      a {
        color: $color__link;
        padding: 10px 15px;
        border: 1px solid #ddd;
        text-decoration: none;
        margin: 0 5px;
  
        &:hover {
          background-color: $color__background-link-active;
          color: #fff;
        }

    }
  
      .current {
        background-color: $color__background-link-active;
        color: #fff;
      }
    }
  }
  